@model MVC_Mail.Models.Email

@{
    ViewBag.Title = "Index";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Bize ulaşın</h4>
    <hr />
    

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-group">
    <div class="alert alert-info">
        
        @TempData["message"]

    </div>

    @Html.LabelFor(model => model.AdSoyad, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.AdSoyad, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.AdSoyad, "", new { @class = "text-danger" })
    </div>
</div>
    <div class="form-group">
        @Html.LabelFor(model => model.baslik, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.baslik, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.baslik, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.icerik, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.icerik, new { htmlAttributes = new { @class = "form-control" } }) @*TextAreaFor içerik için bir kutucuk oluşturuyor!!*@
            @Html.ValidationMessageFor(model => model.icerik, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Gönder" class="btn btn-default" />
        </div>
    </div>
</div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
